# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=crlf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cpp text eol=crlf
*.h text eol=crlf
*.hpp text eol=crlf
*.c text eol=crlf
*.cc text eol=crlf
*.cxx text eol=crlf
*.slnx text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*.xml text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.txt text eol=crlf
*.editorconfig text eol=crlf
*.gitattributes text eol=crlf
*.gitignore text eol=crlf
*.xaml text eol=crlf
*.idl text eol=crlf
*.appxmanifest text eol=crlf
*.manifest text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.lib binary
*.dll binary
*.pdb binary
*.exe binary
*.zip binary
